body {
	font-family: Verdana;
	font-size: 13px;
	color:#333;
	background:bde0ff;
}

a {
	color:#cb2c2c;
	text-decoration: none;
}

h2.list {
	color:green;
}

ul*{
	border: 1px solid
}

h2::before {
	content: 'Кстати';
	font-size: 10px;
}